@import "../../vars.css";

.container {
  position: relative;
  background-color: var(--color-main-bg2);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 70px;

  font-weight: 900;
  margin-bottom: 33px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 160%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImg {
  width: 35%;
}

.aboutItems {
  color: var(--color-main-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  gap: 20px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: repeat-y;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 25px;
}

.aboutItem img {
  width: 100px;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
  }

  .content {
    flex-direction: column;
  }

  .aboutImg {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}
