@import "../../vars.css";

.footContainer {
  color: var(--color-main-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}
.textContent {
  display: flex;
  flex-direction: row;
}
.textContent img {
  width: 200px;
}
.textContent p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-main-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.link img {
  width: 50px;
}

@media screen and (max-width: 830px) {
  .footContainer {
    flex-direction: column;
    gap: 23px;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textContent {
    flex-direction: column;
    align-items: center;
  }
  .textContent img {
    display: none;
  }
  .links {
    align-items: start;
  }
  .link {
    gap: 10px;
  }
  .link a {
    font-size: 20px;
  }
}
